pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
Cargo.lock
LibScimacs.build_artifacts.txt
LibScimacs_dynamic.h
graal_isolate.h
graal_isolate_dynamic.h
LibScimacs.dylib
LibScimacs.h
scimacs.dylib